@use "variables" as *;
@use "functions" as *;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.separator {
  display: block;
  content: "";
  border: 1px solid semantic-color(text-primary);
  height: 4rem;
  margin: 0 1rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
