<ng-container *ngFor="let links of contacts; let isLast = last">
  <div class="links">
    <a
      *ngFor="let item of links"
      [href]="item.link"
      target="_blank"
      [attr.aria-label]="item.ariaLabel"
    >
      <ng-container
        [ngTemplateOutlet]="item.withText ? buttonText : buttonIcon"
        [ngTemplateOutletContext]="{ item: item }"
      ></ng-container>
    </a>
  </div>

  <div *ngIf="!isLast" class="separator"></div>
</ng-container>

<ng-template #buttonText let-item="item">
  <pupa-button
    [leftIcon]="item.icon"
    iconPosition="left"
    kind="secondary"
    [appAriaLabel]="item.description"
    selector="button"
  >
    {{ item.description }}
  </pupa-button>
</ng-template>

<ng-template #buttonIcon let-item="item">
  <pupa-button-icon
    [icon]="item.icon"
    kind="secondary"
    [pupaTooltip]="item.description"
    [tooltipDisabled]="!item.description"
    [appAriaLabel]="item.description"
    selector="button"
  ></pupa-button-icon>
</ng-template>
