@use "mixins" as *;

html {
  overflow: hidden;
  width: 100%;
  font-size: 4px;

  @include light-theme-class-parent() {
    @include apply-light-theme();
  }

  @include dark-theme-class-parent() {
    @include apply-dark-theme();
  }
}

body {
  font-size: 4rem;
  line-height: 6rem;
  @include font-preset-body-m();
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  position: relative;
}

h1 {
  @include font-preset-h1();
  padding: 0;
  margin: 0;
}

h2 {
  @include font-preset-h2();
  padding: 0;
  margin: 0;
}

h3 {
  @include font-preset-h3();
  padding: 0;
  margin: 0;
}

h4 {
  @include font-preset-h4();
  padding: 0;
  margin: 0;
}

h5 {
  @include font-preset-h5();
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
