@use "mixins" as *;
@use "variables" as *;

:host {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  @include grid-container();
  @include grid-size(
    $xs: $xsColumnsCount,
    $sm: 6,
    $md: 7,
    $lg: 7,
    $xlg: 7,
    $xl: 4,
    $xxl: 4
  );
}

.intro {
  display: flex;
  padding: 4rem;

  &__cover {
    display: block;
    width: 100px;
    height: 100px;
  }

  &__image-wrapper {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 1rem;

    --angle: 0deg;
    background: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59);
    animation: 3s rotate linear infinite;
    background-size: 300% 300%;
  }

  &__image {
    border-radius: 100%;
  }

  &__title {
    @include font-preset-h3;
  }
}

.contacts {
  padding: 0rem 2rem 2rem 2rem;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
