<div>
  <pupa-card-container [clickable]="false">
    <section class="intro">
      <pupa-card-cover class="intro__cover">
        <div class="intro__image-wrapper">
          <img
            class="intro__image"
            ngSrc="assets/my-avatar.webp"
            [width]="92"
            [height]="92"
            alt="My avatar"
          />
        </div>
      </pupa-card-cover>

      <pupa-card-header>
        <pupa-card-title>
          <h1 class="intro__title">Vsevolod Zolotov</h1>
        </pupa-card-title>
        <div>
          <p>{{ currentGreeting }}</p>
          <p>
            I am a Tech Lead Software Engineer focusing on responsive and
            high-availability applications.
          </p>
        </div>
      </pupa-card-header>
    </section>

    <app-contacts class="contacts" [contacts]="contacts"></app-contacts>
  </pupa-card-container>
</div>
